<table>
  <th>ID</th><th>Name</th><th>Action</th>
{{#each wombles}}
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td><a href=edit/{{id}}>Edit</a></td>
      <td><a href=delete/{{id}}>Delete</a></td>
    </tr>
{{/each}}
</table>
<a href="add/">Add New Womble</a>
